html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ν—¤λ” */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #0c2e86;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

.logo > img {
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #e2e8f0;
}

.nav-button:hover {
  background-color: #f7fafc;
  color: #1a202c;
}

.language-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border: 1px solid #edf2f7;
  background-color: #ffffff;
  padding: 8px 12px;
  font-size: 13px;
  color: #4a5568;
}

.icon {
  height: 16px;
  width: 16px;
  opacity: 0.5;
}

/* ν‘Έν„° */

.footer {
  width: 100%;
  background-color: #0c2e86;
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 18px;
  font-weight: bold;
}

.footer-nav {
  display: flex;
  gap: 16px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: #e2e8f0;
}
